<div class="row main-block">
  <div class="span12">
<!-- MAIN CONTENT AREA: bizstrap CUSTOM - HERO LIST -->
      <div class="row show-grid hero-list">
          <div class="span3">
              <div class="image-wrapper">
                  <img alt="" src="img/ruler.png">
              </div>
              <h2>Minimal Inlåsning</h2>
              <p>Med Open Source som grund så kan du enkelt 
              	 flytta till en annan leverantör om du inte är nöjd.
              </p>
          </div>
          <div class="span3">
              <div class="image-wrapper">
                  <img alt="" src="img/equaliser.png">
              </div>
              <h2>Mer valuta för pengarna</h2>
              <p>Vi undviker att använda dyra och onödigt komplicerade datahanteringsverktyg och kan därmed erbjuda ett oslagbart pris för våra tjänster.
              </p>
          </div>
          <div class="span3">
              <div class="image-wrapper">
                  <img alt="" src="img/direction.png">
              </div>
              <h2>Kraftigt förenklade processer</h2>
              <p>Vi tar er från rådata till färdiga diagram utan att ni behöver tänka på saker som normalisering, datakuber och transformeringar. Vi tar er från A till Ö på en bråkdel av tiden.
              </p>
          </div>
          <div class="span3">
              <div class="image-wrapper">
                  <img alt="" src="img/both_arrows.png">
              </div>
              <h2>Transparent dataflöde</h2>
            <p>Vi är helt transparenta med hur er data hanteras. Det gör det enkelt att repetera datahanteringen när er rådata har uppdaterats.</p>
          </div>
      </div>
  </div>
  <div class="horizontal-divider span12"></div>
</div>